body{
    background-color: rgba(255, 255, 255, 0.9);
    color: rgb(53, 90, 36);
    
}
h1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    margin-bottom: 4px;
}
form#campo{
    margin: auto;
    width: 306px;
    padding: 12px;
    border: double 2px black ;
    background-color: rgba(236, 229, 229, 0.9);
    box-shadow: 2px 2px 5px rgba(0 , 0, 0, .4);
}         
legend{
    font-size: 16pt;
}
select{
    width: 75px;
}
p#bot{
    text-align: center;
    margin: 10px;
}
p#data{
    font-size: 7pt;
    text-align: right;    
    margin: 0px;
}
img#logo{            
    width: 50%;
    height: 50%;
    margin-top: 10px;
    margin-bottom: 0px;
}
div#resultado{
    opacity: 0;
    margin: auto;
    width: 330px;
    border: double 2px black ;            
    background-color: rgba(236, 229, 229, 0.9);
    box-shadow: 2px 2px 5px rgba(0 , 0, 0, .4);
    text-align: center;	
    font-size: 40pt;
    color: red;
}        